# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#SERVER folder
server/node_modules
/.pnp
.pnp.js



# next.js/ APP folder
app/.next/
app/out/
app/node_modules
app/.env

# local env files
app/.env*.local

# vercel
app/.vercel

# testing
app/coverage
# production
app/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
app/next-env.d.ts
